@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: aqua;
}

h1#principal{
    color: white;
    background-color: black;
}

h1{
    text-align: center;
} 

.paragrafo{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}